.write-new-review-button{
    display: block;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;

    color:#2f3640;
    font-family: "proxima nova";
    font-weight: bold;
    font-size: 15pt;
    text-align: center;

    border: solid 2px #2f3640;
    border-radius: 10px;
    padding: 3px 10px;

    background-color:  rgb(236, 210, 160);

}

.write-new-review-button:hover{
    background-color: #2f3640;
    color: #F9D288;
}